
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>💀 Preencha o Formulário 💀 </ion-card-title>
    </ion-card-header>
    <p> 🔥🔥  🔥🔥</p>
    <img src="Sem título.jpeg"><img>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input placeholder="Digite o nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="Digite o Email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input placeholder="Digite a Senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Confirme a Senha</ion-label>
        <ion-input placeholder="Confirme a Senha"></ion-input>
      </ion-item>
      <ion-button expand="block" color="warning">Novo</ion-button> 
      <ion-button expand="block" color="danger">Alterar</ion-button> 
      <ion-button expand="block" href="http://localhost:8100/tabs/tab3" color="success">Gravar</ion-button> 
    </ion-card-content>

  </ion-card>

</ion-content>
