<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulário</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="Insira o email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input placeholder="Insira a senha"></ion-input>
      </ion-item>
      <ion-button expand="block" color="primary">Acessar</ion-button> 
      <ion-button expand="block" href="http://localhost:8100/tabs/tab2" color="danger">Cadastrar</ion-button> 
    </ion-card-content>

  </ion-card>

</ion-content>
